<p class="g-subtitle olfactory-desc__title">Зельеварение</p>

<p class="olfactory-desc__desc">
  И так. Здесь будут собраны различные ништяки, которые я пока что называю Зельеварением.
  <br><br>
  Началось все очень просто. Однажды, мы поехали в наш дом, который мы только строим. Было лето и на садовом участке как
  раз зацвели мелиса и мята. Мы немного взяли с собой и поехали обратно в Москву. Сидя в душной электричке у цветов
  начался распускаться аромат. И, не смотря на то, что мы все еще находились в электричке, я начала получать
  удовольствие от запахов. Тогда мне предложили на день рождения, который у меня планировался в ближайшее время,
  подарить алькитару.
  <br><br>
  Это старинное приспособление для паровой дистилляции. Чаще всего подобные аппараты в наше время и спользуют для
  самогоноварения, но мы слишком гордые для такого занятия и просто покупаем виски в магазине. Я же начала использовать
  алькитару для первоначальной цели - получить эфирное масло.
  <br><br>
  Наверное, люди которые немного знакомы с этим процессом уже догадались, что у меня ничего не вышло. Алькитара, которую
  мне подарили на 5 литров. Купив сушеных ягод можжевельника и загрузив их, через три часа я получила 500 милилитров
  гидролата. Где-то внутри этой ароматной воды остались мои эфирные масла - но как их достать оттуда, я не имела
  понятия.
  <br><br>
  Спустя пробы с апельсинами - в надежде, что там просто больше эфирных масел, была куплена разделительная
  воронка.Замысел был прост - эфирные масла имеют более легкую плотность, чем вода. И в разделительной воронке снизу
  должен оказаться гидролат - а на нем эфирные масла. В целом, все получилось именно так. Не считая того нюанса, что
  эфирных масел оказалось настолько мало, что не было никакой возможности даже с помощью воронки разделить их и
  поместить в отдельную баночку. Я как раз купила подходящие, как мне показалось, милилитров на 10. Наивная душа...
  <br><br>
  Таким образом я поняла, что для получения эфирного масла мне нужно куда больше сырья, времени и пространства. Потому
  что после того, как я загрузила в алькитару плоды и листья лайма кафира, пахло не только в квартире, но и на общей
  лестничной площадке. В квартире пахло несколько дней. И, не смотря на то, что запах был на самом деле настоящий и
  приятный, я долго избавлялась от неприятных воспоминаний.
  <br><br>
  Но я не унываю и планирую в скором времени начать вновь работу над получением собственных эфирных масел. А пока, в
  разделе "Эфирные масла" можно почитать про мое изучение различных масел - из чего производят, для чего используют, а
  так же - мой собственный сравнительный анализ масел разных доступных производителей.
  <br><br>
  В разделе "Гидролаты" - там будут только те гидролаты, которые я получила сама с помощью моей маленькой алькитара.
  Будет описан процесс, аромат и способы использования.
  <br><br>
  В разделе "Рецепты" - все мои эксперименты с использованием ароматического натурального сырья - тоники из гидролатов,
  духи из покупных (пока что) эфирных масле, косметическая продукция (когда созрею) и все, что я еще придумаю.
  <br><br>
  В "Ольфакторной карте" я кратко описываю каждый аромат и размещаю его на специальной карте - проще увидеть, чем описывать.
</p>
