@import "./src/styles.scss";

.efir-detail__header {
  margin-bottom: 28px;
}

.efir-detail__subtitle {
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 3px solid $olfactory-main-color;
}

.efir-detail__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 28px;
}

.efir-detail__menu {
  width: 30%;
}

.efir-detail__item {
  margin-bottom: 12px;
  display: block;
  position: relative;
  padding-left: 22px;
  text-decoration: none;
  cursor: pointer;
}

.efir-detail__item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $olfactory-main-color;
  transition: all .2s ease;
}

.efir-detail__item:hover:before {
  width: 14px;
  height: 14px;
}

.efir-detail__image {
  width: 65%;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.efir-detail__description {
  width: 100%;
}

.image-description {
  max-width: 200px;
  object-fit: contain;
  margin: 0 18px 18px;
}

.image--left {
  float: left;
}
