<div class="main-sidenav">
  <div class="main-sidenav__wrapper g-bg--{{type}}--bottom">
    <div class="main-sidenav__header">
      <h1 class="g-page__title">{{title}}</h1>

      <div class="main-sidenav__list">

        <div class="main-sidenav__item"
             *ngFor="let item of navigation"
             [routerLink]="['/'+type, item.path]"
             routerLinkActive="main-sidenav__link--active"
        >
          <a class="main-sidenav__link"
          >{{item.name}}</a>
        </div>
      </div>
    </div>

    <div class="btn-wrapper">
      <div class="sidenav-btn"
           routerLinkActive="sidenav-btn--hidden"
           [routerLinkActiveOptions]="{exact:true}"
           [routerLink]="'/'+type">{{title}}
      </div>
      <div class="sidenav-btn"
           [routerLink]="'/'">Главное меню
      </div>

    </div>
  </div>
</div>
