<div>
  <p class="recipe__description">
    В этом разделе можно познакомиться с рецептами, которые мы где-то нашли, нашли и модифицировали, услышали от
    кого-то, услышали от кого-то и модифицировали, или просто придумали сами.
    <br><br>
    Долгое время я считала, что совершенно не умею готовить. Мой максимум был - оладушки. Потом я пробовала брать
    рецепты и готовить по ним - но не часто из этого выходило что-то дельное. Где-то я сама по неопытности делала
    неправильно, где-то в рецепте была указана ошибка и прочее, и прочее... Как говорится, плохому танцору...
    <br><br>
    А потом у меня появилось сильное желание сделать чизкейк. Казалось бы, после оладушек и сразу к чизкейку - это
    слишком смело. Но мне повезло, и я нашла очень хороший и подробный рецепт. Ингридиенты были не самые дешевые,
    чизкейк
    хотелось очень сильно и я предельно четко следовала каждой инструкции. И как выяснилось, готовить оказалось очень
    просто. А домашний чизкейк крайне вкусен.
    <br><br>
    И я стала искать рецепты других тортов - мне очень понравилось их готовить. И вот тут я столкнулась с некоторыми
    проблемами. Основная, по моим ощущениям, это неправильное описание шагов приготовления. Я прочитывала полностью
    рецепт - но мельком, просто чтобы понимать общую картину. И часто упускала из виду какие-нибудь крохотные детали,
    которые надо было или подготовить заранее, или хотя бы обдумать их. Например, первый шаг - "вылейте подогретый в
    микроволновке кефир в миску"... И вот тут я начинала
    раздражаться. Почему микроволновка - у меня же ее нет, а в списке ингридиентов не написано, что мне нужна
    микроволновка. Почему не написано, что мне заранее нужно подогреть кефир? Передо мной все ингридиенты, на мне фартук
    и огромное желание начать готовить - а вместо этого, я начинаю доставать новую посуду, включать плиту и сбивать весь
    настрой.
    <br><br>
    Теперь-то я в начале вычитываю весь рецепт, ищу тонкие места и уже после, прочитав его несколько раз и основательно
    подготовившись, приступаю к приготовлению. Но каждый раз меня преследовало чувство раздражительности - я всего лишь
    хотела брать рецепт и готовить по нему.
    <br><br>
    Именно поэтому, я решила сделать свой блог - я не буду здесь копипастить чужие рецепты и фотографии. Я буду брать
    рецепт, готовить его - запоминать нюансы и пробовать снова. И только после этого публиковать. Публиковать так,
    чтобы любой человек, никогда не умевший, как он считает готовить, брал рецепт и, следуя четким указаниям, получал
    готовое и вкусное блюдо с первого раза. И оставлял свою кухню в целости и сохранности.
  </p>

  <p class="g-subtitle">Новинки</p>

  <app-recipe-short
    [type]="last"
  ></app-recipe-short>

</div>
