@import "./src/styles.scss";

.recipe-short {
  display: flex;
  box-shadow: 0 0 5px 2px $recipe-main-color;
  padding: 12px;
  margin-top: 16px;
}

.recipe-short__image {
  width: 300px;
  margin-right: 12px;
}

.recipe-short__content {
  display: flex;
  flex-wrap: wrap;
}

.recipe-short__subtitle {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 16px;
  text-decoration: none;
  color: black;
}

.recipe-short__description {
  width: 100%;
}

.recipe-short__date {
  width: 100%;
  margin-top: 16px;
  text-align: right;
}
