<div class="recipe-short">
  <img class="recipe-short__image" src="https://2recepta.com/recept/borshh/borshh.jpg" alt="">
  <div class="recipe-short__content">
    <p class="recipe-short__subtitle">Рецепт опупенного борща</p>
    <div class="new-recipe__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium
      autem distinctio eos exercitationem iure, magni maxime minima modi nemo, neque officiis placeat quaerat quidem
      quos
      saepe vel velit. Commodi.
    </div>
    <div class="recipe-short__date">третий день изоляции</div>
  </div>
</div>
