<div class="home">
  <div class="home__wrapper">
    <div class="home__block home__recipe">
      <div class="home__block-link">
        <a class="home__link g-title" [routerLink]="['recipe']">Рецепты</a>
      </div>
    </div>
    <div class="home__block home__olfactory">
      <div class="home__block-link">
        <a class="home__link g-title" [routerLink]="['olfactory']">Зельеварение</a>
      </div>
    </div>
    <div class="home__block home__travel">
      <div class="home__block-link">
        <a class="home__link g-title" href="#">Путешествия</a>
      </div>
    </div>
    <div class="home__block home__other">
      <div class="home__block-link">
        <a class="home__link g-title" href="#">Разное</a>
      </div>
    </div>
  </div>
</div>
