/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');
$g-title: 1.7em;
$g-subtitle: 1.4em;

/*recipe*/
$recipe-main-color: #CABABA;
$recipe-second-color: #7D967D;

/*olfactory*/
$olfactory-main-color: #E6C6AC;
//$olfactory-second-color: #505257;
$olfactory-second-color: #1B1B1D;
$olfactory-third-color: #D0C8B8;

/*travel*/
$travel-main-color: #729595;
$travel-second-color: #E7C09F;

/*other*/
$other-main-color: #93BF93;
$other-second-color: #DE9A9A;


/*global*/
$font-main-color: #1A1A1A;
$light-color: #F2F2F2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $font-main-color;
}

.g-title {
  font-family: 'Lora', serif;
  font-size: $g-title;
}

.g-subtitle {
  font-family: 'Lora', serif;
  font-size: $g-subtitle;
}

